services:
  app:
    build:
      context: ./src
    ports:
      - "8090:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: lms
      MYSQL_USER: lms
      MYSQL_PASSWORD: lms
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./lms.sql:/docker-entrypoint-initdb.d/lms.sql
volumes:
  db_data:
